:root {
  --tipo-principal: 'IBM Plex Sans', sans-serif;
}

#container-mapa-lista {
  display: flex;
  width: 100%;
}

#container-mapa {
  height: 600px;
  width: 80%;
}
#mapaCorredores { 
  height: 100%; 
  width: 100%;
}

#mapaCentrosSalud { 
  height: 100%; 
  width: 100%;
  display: none;
}

#encabezado-lista{
  font-family: var(--tipo-principal);
  font-size: 29px;
  text-align: center;
}

#div-lista {
  position: relative;
  width: 20%;
  float: right;
  background-color: #8BC4BF;
  border: #0e0e0e;
  border-radius: 5px;  
  border-style: solid; 
  border-width: 3px;
}

#div-lista hr {
  border: 3px solid #264d4f;
  border-radius: 3px;
}
#ul-lista{
  margin: 0 auto;
}

.boton-lista {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.botones-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-mapa{
  margin-left: 10px;
  margin-right: 10px;
}

.cabecera {
  display: flex;
  justify-content: center;
  margin:10px auto;
  background-color: #264d4f;
  border-radius: 5px;
}

nav li {
  display: inline-flex;
}

nav a {
  color: #8BC4BF;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
}

nav a:hover {
  color:rgba(96, 125, 218, 0.658);
  font-size: 20px;
}

body {
  height: 100%; 
  font-family: var(--tipo-principal);
  background-color: #8BC4BF; 
}

h1 {
  font-size: 39px;  
  text-align: center; 
  padding-bottom: 20px; 
  color: #3E6263;
}

h3 {
  text-align: center;
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

#encabezado-fotos, #encabezado-mapa {
  text-align: center;
}

.form-inscripcion {  
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;    
  padding: 30px 20px;
  background-color: #fbfbfb;
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.221);
}

.campos {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb; 
  width: 560px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #5C9092; 
  margin-top: 10px;  
  margin-bottom: 20px;
}

.sponsor {
  margin-left: auto;
  margin-right: auto; 
  width: 60%;
  border-color: #5C9092;
  border-radius: 5px;  
  border-style: solid; 
}

legend {
  text-align: center;
  font-size: 15px;
}

.label-sponsor{
  display: block; 
  float: center;  
}

#datos-sponsor-propio {
  margin: 10px;
}

.visibilidad {
  display: none;
}

.boton {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;  
  margin: 20px auto; 
  text-transform: uppercase;
  background-color: #84CED1; 
  border-color: #5C9092; 
  border-style: solid; 
  border-radius: 10px;  
  width: 560px;   
  cursor: pointer;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton:hover{
  background: #264d4f;
  transform: scale(1.02);
  color: white;
}

.obligatorio {
  color: red; 
}

.aviso-importante{
  text-align: center;
  color: rgb(88, 110, 157);
  font-size: 12px;
}

.aviso {
  font-size: 13px;  
  color: #0e0e0e;  
}

footer {
  text-align: center;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline:0;
  border: 1px solid #6a9b2e;
}

/*Preloader*/

.ocultar-preloader {
  overflow: hidden;
}

.centrar-preloader {
  height: 100vh;
  background-color: #40dce158;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #dfc;
  border-color: #dfc transparent #dfc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


